@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #7d60b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #7d60b6;
  }
}

body {
  color: var(--foreground);
}

/*NavBar*/
.navbackground {
  background-color: rgb(63, 63, 63);
}

