@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #310062;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #310062;
  }
}

body {
  color: var(--foreground);
}

/*NavBar*/

